<!DOCTYPE html>
<html ng-app="myApp" lang ='en'>
<head>
	<title>Stand Up V2 User Page</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="main.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.js"></script>

	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
</head>
<body ng-controller="mainController">
<div class="container-fluid">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<a class="navbar-brand" href="./standUpV2.html#">StandUp</a>
			<ul class="nav navbar-nav navbar-right">	
				<li><a href="#" class="glyphicon glyphicon-user"></a></li>
			</ul>				
		</div>
	</nav>
</div>

<div class="container-fluid userPageBackground">
	<div class="row">
		<div class="col-md-2 userToggle">
			<div class="row">
				<div class="col-sm-12 col-md-9 col-md-offset-3 text-center">
					<button class="btn btn-info" ng-click="toggleBooleanFalse()">Comedy Side</button>
					<button class="btn btn-info visible-sm-noPadding userSide" ng-click="toggleBooleanTrue()">User Side</button>
				</div>
			</div>
		</div>
		<div class="col-md-8 userPageBackgroundInner">
			<div class="row">
				<div class="col-md-12 text-center welcomeText">
					<div class="circle"></div>
					<h1>Welcome, Josh</h1>
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<p>{{funnyQuote[1]}}</p>
							<p class="text-right">-{{funnyQuote[0]}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row text-center userStats" ng-hide="toggleBoolean">
				<div class="col-md-6">
					<h3>Stats</h3>
					<div class="row">
						<div class="col-md-10 col-md-offset-1 text-left	">
							<p class="userRank">
								<div style="font-size: 145%" class="userRankRank">Rank</div>
								<div>You are ranked <a href="#">45th</a> out of <a href="#">784</a>.</div>
								<div>Laugh-O meter is at <a href="#">485</a>! Great job, keep it up!</div>
							</p>
							<p>
								<div style="font-size: 145%" class="userRankRank">Member since</div>
								<div>September 25th, 2015</div>
							</p>
							<p>
								<div style="font-size: 145%" class="userRankRank">Followers</div>
								<div>You have <a href="#">58</a> followers.</div>
								<div><a href="#" class="glyphicon glyphicon-heart"></a> give your followers some love.</div>
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-6" style="border-left: 2px solid #ccc;">
					<h3>Your Shows</h3>
					<div class="row">
						<div class="col-md-10 col-md-offset-1 text-center">
							<div style="display:inline-block; min-height:290px;" class="calendar">
      							<datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></datepicker>
   							 </div>
							<p class="userRank">
								<div style="font-size: 145%" class="userRankRank">Total Shows</div>
								<div>You have done <a href="#">4</a> shows to date.</div>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row text-center" ng-show="toggleBoolean">
				<div class="col-sm-6 col-md-6 userStats">
					<h3>Account Info</h3>
					<div class="row">
						<div class="col-sm-4 col-md-4">
							<button class="btn btn-primary" ng-click="accountInfoToggleOverview()">Overview</button>
						</div>
						<div class="col-sm-4 col-md-4">
							<button class="btn btn-primary" ng-click="accountInfoToggleDetails()">About you</button>
						</div>
						<div class="col-sm-4 col-md-4">
							<button class="btn btn-primary" ng-click="accountInfoToggleBasic()">Basic Info</button>
						</div>
					</div>
					<div class="row">
						<div class="col-md-10 col-md-offset-1 text-left">
							<div class="accountInfo" ng-show="accountInfoToggle1">
								<div style="font-size: 145%" class="userRankRank accountInfoDetails">What you go by</div>
								<div>jro55</div>
								<div style="font-size: 145%" class="userRankRank accountInfoDetails">Member since</div>
								<div>September 25th, 2015</div>
								<div style="font-size: 145%" class="userRankRank accountInfoDetails">Following</div>
								<div>Will Roman</div>
								<div>Joe Lewis</div>
								<div>Kevin Harris</div>
								<div style="padding-bottom: 15px">Jeremy Poole</div>
							</div>
							<div class="accountInfo text-left" ng-show="accountInfoToggle3">
								<div class="row">
									<div class="col-md-12 text-right">
										<button class="btn">Edit</button>
									</div>
								</div>
								<div class="row setBottomBorderBasicInfo">
									<div class="col-md-4 basicInfo">
										<span>Username</span>
									</div>
									<div class="col-md-7 col-md-offset-1 basicInfo">
										<span class="blackText">jro55</span>
									</div>
								</div>
								<div class="row setBottomBorderBasicInfo">
									<div class="col-md-4 basicInfo">
										<span>First Name</span>
									</div>
									<div class="col-md-7 col-md-offset-1 basicInfo">
										<span class="blackText">Josh</span>
									</div>
								</div>
								<div class="row setBottomBorderBasicInfo">
									<div class="col-md-4 basicInfo">
										<span>Last Name</span>
									</div>
									<div class="col-md-7 col-md-offset-1 basicInfo">
										<span class="blackText">Roman</span>
									</div>
								</div>
								<div class="row setBottomBorderBasicInfo">
									<div class="col-md-4 basicInfo">
										<span>Email</span>
									</div>
									<div class="col-md-7 col-md-offset-1 basicInfo">
										<span class="blackText">joshproman@yahoo.com</span>
									</div>
								</div>
								<div class="row setBottomBorderBasicInfo">
									<div class="col-md-4 basicInfo">
										<span>Location</span>
									</div>
									<div class="col-md-7 col-md-offset-1 basicInfo">
										<span class="blackText">Boulder, CO</span>
									</div>
								</div>
								<div class="row setBottomBorderBasicInfo">
									<div class="col-md-4 basicInfo">
										<span>Gender</span>
									</div>
									<div class="col-md-7 col-md-offset-1 basicInfo">
										<span class="blackText">Male</span>
									</div>
								</div>
								<div class="row setBottomBorderBasicInfo" style="border-bottom: 0">
									<div class="col-md-4 basicInfo">
										<span>Birthday</span>
									</div>
									<div class="col-md-7 col-md-offset-1 basicInfo">
										<span class="blackText">October 29th, 1989</span>
									</div>
								</div>
							</div>
							<div class="accountInfo text-left" ng-show="accountInfoToggle2">
								<div class="row">
									<div class="col-md-12 text-right">
										<button class="btn">Edit</button>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="aboutYou">ABOUT YOU</div>
										<div class="aboutYouParagraph">I grew up in the quaint little city of Houston, TX. From there I moved to the sunshine state of Louisiana where I enjoyed many years of binge drinking and deep deep depression. After graduating with a degree that I will never use, I finally made the best decision of my life and moved to beautiful Boulder Colorado!</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="aboutYou">NICK NAMES</div>
										<div class="aboutYouParagraph">Roman Noodles, J RO, captain swole.</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="aboutYou">FAVORITE QUOTES</div>
										<div class="aboutYouParagraph" style="padding-bottom: 15px">The worst thing I could be is just like everyone else, I would hate that.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6">
					<div class="row">
						<div class="col-md-row-12">
						<h3>Upcoming Shows</h3>
						</div>
					</div>
					<div class="row scrollComedyRoll">
						<div class="col-sm-12 col-md-12">
							<div class="row comedyRollPerformers" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="(performer, performance) in upcomingPerformances">
								<span class="col-sm-2 col-md-2 iconImageContainer">
									<img ng-src="{{performance.icon}}" class="iconImage">
								</span>
								<span class="col-sm-3 col-md-2 text-left paddingTop">
									<span class="performanceUserName">{{performance.userName}}</span>
									<div class="performanceTime">{{performance.duration}} min</div>
									<div>
										<button class="watchButton">Watch</button>
									</div>
								</span>
								<span class="col-sm-7 col-md-8 performanceCategory">
									{{performance.category}}
									<div class="performanceViewers">
										29 Viewers - Ranked 129th
									</div>
								</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<a href="./upcomingShows.html">View all upcoming shows</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 footer userPageFooter text-center">
			<span>StandUp is protected under Super Awesome Trademark Services</span>
		</div>
	</div>
</div>


<script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.13.4.js"></script>
<script src="main.js" type="text/javascript"></script>
</body>
</html>