    <div class="row">
		<div class="col-md-12 firstBlock">
			<div class="row">
				<div class="col-md-4 col-md-offset-1 sloganBox">
					<span class="sloganText">Find out what makes the world laugh.</span>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-md-offset-1 options">
					<span><a href="/#signup">Become a comedian</a></span><span><br> or <br></span><span><a href="#">Start watching now</a></span>
				</div>
<!--
				<div class="col-md-3 options">
					<span><a href="/#upcomingshows">Start watching now</a></span>
				</div>
-->
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 pageBreakInfo text-center">
			<div style="font-weight: bold">--What's happening now on StandUp--</div>
			<div><a href="/upcomingshows">4</a> shows currently going on and <a href="/upcomingshows">70</a> left to go</div>
		</div>
	</div>

<!-- -=-=-=-=-=-=-=-=-=-=- THREE BOXES -=-=-=-=-=-=-=-=-=-=- -->

	<div class="row threeBoxes">
		<div class="col-sm-6 col-md-4 col-md-offset-1 comedyRoll text-center">
			<div class="row upcomingShowsBorder">
				<div class="col-md-row-12">
					<h3><a href="/#upcomingshows">Upcoming Shows</a></h3>
				</div>
			</div>
			<div class="row scrollComedyRoll">
				<div class="col-md-12">
					<div class="row comedyRollPerformers" ng-repeat="(performer, performance) in upcomingShows | limitTo: 4">
						
						<span class="col-sm-2 col-md-2 iconImageContainer">
                            <a href="/#viewshow/{{performance.host}}"><img ng-src="{{performance.userPhotoUrl}}" class="iconImage"></a>
						</span>
						<span class="col-sm-3 col-md-3 text-left paddingTop">
							<span class="performanceUserName">{{performance.host}}</span>
							<div class="performanceTime">{{performance.duration}} min</div>
<!--
							<div>
								<button class="watchButton"><a href="/#viewshow/{{performance.host}}">Watch</a></button>
							</div>
-->
						</span>
						<span class="col-sm-7 col-md-7 text-right performanceCategory">
							{{performance.topic}}
							<div class="performanceViewers">
								{{performance.numberOfViewers}} Viewers - Ranked {{performance.hostRating}}
							</div>
						</span>
					</div>
				</div>
			</div>
		</div>

        <div class="col-sm-6 col-md-4 col-md-offset-2 comedyRoll text-center">
			<div class="row upcomingShowsBorder">
				<div class="col-md-row-12">
					<h3><a href="/#upcomingshows">Top Comedians</a></h3>
				</div>
			</div>
			<div class="row scrollComedyRoll">
				<div class="col-md-12">
					<div class="row comedyRollPerformers" ng-repeat="(performer, performance) in users | limitTo: 4">
						
						<span class="col-sm-2 col-md-2 iconImageContainer">
                            <a href="/#viewshow/{{performance.host}}"><img ng-src="{{performance.photoUrl}}" class="iconImage"></a>
						</span>
						<span class="col-sm-4 col-md-4 text-left paddingTop">
                            <span class="namePlacement"><a href="/#profile/{{performance.userName}}">{{performance.userName}}</a></span>
<!--
							<div>
								<button class="watchButton"><a href="/#viewshow/{{performance.host}}">Watch</a></button>
							</div>
-->
						</span>
						<span class="col-sm-6 col-md-6 text-middle performanceCategory">
							{{performance.topic}}
							<div class="laughsRank">
								{{performance.laughterPoints}} Laughs
                                <div>{{performance.numberOfPerformances}} Performances</div>
							</div>
						</span>
					</div>
				</div>
			</div>
		</div>
<!--
		<div class="hidden-xs hidden-sm col-md-4 text-center">
			<h3>News</h3>
			<div id="feedControl">Loading...</div>
        <div class="testthis"></div>
		</div>
-->
<!--
		<div class="col-sm-6 col-md-4 text-center topComedians">
			<h3>Top Comedians</h3>
			<div class="row">
						<div class="col-sm-12 col-md-12">
							<ol>
								<li ng-repeat="user in users">
									<div class="row">
										<div class="col-sm-3 col-md-3">
											<img ng-src="{{user.photoUrl}}" class="iconImageTopShows">
										</div>
										<div class="col-sm-4 col-md-4 text-left performanceName">
                                            <a href="/#profile/{{user.userName}}"><span>{{user.userName}}</span></a>
										</div>
										<div class="col-sm-5 col-md-5 text-left performanceStats">
											<div><a href="#">ADD THIS</a> Followers</div>
											<div><a href="#">{{user.laughterPoints}}</a> Laughs</div>
										</div>
									</div>
								</li>
							</ol>
						</div>
					</div>
		</div>
-->
	</div>
	<div class="row">
		<div class="col-md-12 pageBreak">
			
		</div>

	<!-- -=-=-=-=-=-=-=-=-=-=- ABOUT PAGE -=-=-=-=-=-=-=-=-=-=-=- -->

	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="row about">
				<div class="col-md-4 aboutComedians">
					<h3 class="text-center">Comedians</h3>
					<ul class="aboutComediansText">
						<li>Starring your living room as the venue, stand up and perform in front of an audience from around the world.</li>
						<li>Test out new material without the fear of stage freight from a real life crowd.</li>
						<li>Gain popularity and followers to help fund your comedic journey. Once you hit 40 followers, you are upgraded to serious status and can now host paid shows to help fund your career.</li>
						<li>Rank up on the site to ultimately become the Comedic God.</li>
					</ul>
					<div class="learnMore text-left">
					    <a href="/#signup">
						    Learn more about becoming a comedian.
                        </a>
					</div>
					<div class="micBackground"></div>
				</div>
				<div class="col-md-4 col-md-offset-4 aboutViewers"><h3 class="text-center">Viewers</h3>
					<ul class="aboutViewersText">
						<li>Discover what makes you laugh by tuning in and watching new aspiring comedians</li>
						<li>Let them know what you think by giving them a time-stamped comment or a laugh.</li>
						<li>Follow your favorite comedians so you always know when they have a show.</li>
						<li>Just click 'watch' on a comedians to watch now!</li>
					</ul>
                    <a href="/#signup"><div class="learnMore text-left" style="z-index: 2">See all of our user features.</div></a>
					<div class="tvBackground"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="signInBox" ng-show="signInToggle">
	<div class="signInBoxInner">
		<h3 class="text-center">Sign In</h3>
		<form class="form-horizontal">
			<div class="form-group" style="margin-top: 15px">
			    <div class="col-sm-8 col-sm-offset-2">
		        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
			    </div>
			</div>
		    <div class="form-group">
			    <div class="col-sm-8 col-sm-offset-2">
			    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
			    </div>
			</div>
			<div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <div class="checkbox">
			        <label>
			            <input type="checkbox"> Remember me
			        </label>
			      </div>
			    </div>
			</div>
			<div class="form-group">
			    <div class="col-sm-offset-2 col-sm-10">
			      <button type="submit" class="btn btn-default"><a href="./userPage.html">Sign in</a></button>
			    </div>
			</div>
		</form>
	</div>
	</div>

	<!-- -=-=-=-=-=-=-=-=-=-=- FOOTER -=-=-=-=-=-=-=-=-=-=-=- -->

	<div class="row">
		<div class="col-md-12 footer text-center">
			<span>StandUp is protected by Mike Tyson's Tiger</span>
		</div>
	</div>
	
</div>
