<div class="row text-left topStuff">
    <div class="col-md-11 col-md-offset-1">
        <h2>Enter in the info for your show!</h2>
    </div>
</div>
<!--
<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <form ng-submit="createShow()">
            <input ng-model="newShow.time" placeholder="time">
            <input ng-model="newShow.date" placeholder="date">
            <input ng-model="newShow.topic" placeholder="topic">
            <input ng-model="newShow.title" placeholder="title">
        </form>
    </div>
</div>
-->


<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <form ng-submit="submitShow()">
<!--
            <div class="input-group bootstrap-timepicker timepicker"><label>Time</label>
            <input id="timepicker1" type="text" class="form-control input-small">
            <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
        </div>
--> 
            <div class="form-group">
                <label>Time</label>
                <input ng-model="newShow.time" type="text" class="form-control" placeholder="Time">
            </div>
            <div class="form-group">
                <label>Date</label>
                <input ng-model="newShow.date" type="text" class="form-control" placeholder="Date">
            </div>
            <div class="form-group">
                <label>Topic</label>
                <input ng-model="newShow.topic" type="text" class="form-control" placeholder="Topic">
            </div>
            <div class="form-group">
                <label>Duration (min)</label><br>
	        	<select ng-model="newShow.duration" class="form-control">
	            <option value="3">3</option>
	            <option value="4">4</option>
	            <option value="5">5</option>
	            <option value="6">6</option>
	            <option value="7">7</option>
	        	</select>
                <button type="submit" class="btn btn-default submitInfo">Submit</button>
            </div>
        </form>
    </div>
    