<style>
#container { margin: 0px auto; width: 500px; height: 375px; border: 10px #333 solid; } #videoElement { width: 500px; height: 375px; background-color: #666; }
</style>


<!--<div ng-if="currentUser.userName === thisShow.host">-->


<!--
<div id="container">
    <video autoplay="true" controls="true" id="videoElement">
     
    </video>
</div>
<cavas id="c"></cavas>
<button id="grey">Toggle Greyness</button>
-->

<!--</div>-->

<div ng-if="currentUser.userName === thisShow.host">
<div id='myPublisherDiv'></div>
<button ng-click="countdown()">Start Show</button> 
</div>









<!--//-=-=-=-=-=-=-=-=- AUDIENCE VIEW -=-=-=-=-=-=-=-=-\\-->
<div ng-if="currentUser.userName !== thisShow.host">
	<div class="row">
		<div class="col-md-12 text-center performerHeader">
			<h1>{{thisShow.host}}</h1>
			<div>Ranked <a href="#">#8</a>               </div>
			<button ng-click="countdown()">Start Timer</button>
		</div>
	</div>
	<div class="row performerDetails">
		<div class="col-md-4 col-md-offset-2 text-left">
			{{min}}:{{sec}}
		</div>
		<div class="col-md-4 text-right">
			Laugh-O Meter: <a href="#">{{laughOMeter}}</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 liveFeed">
            <div id='subscribersDiv'></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 commentBox">
			<div ng-repeat="comment in comments" class="positionCommentBox">
				<div>
					{{comment}}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<textarea class="actualCommentBox" type="text" rows="2" ng-model="yourComment" placeholder="Let them know what you think">
			</textarea>
			<input type="submit" value="Submit now" class="btn btn-primary submitComment" ng-click="submitYourComment()">
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 text-left laughButton">
			<button ng-click="laughing()" ng-class="{ 'laughed': currentlyLaughing }" class="btn laughButtonButton">Laugh</button>
			<!-- <button ng-click="isTooManyLaughs()" class="btn">Laugh</button> -->
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 footer userPageFooter text-center">
			<span>StandUp is protected under Super Awesome Trademark Services</span>
		</div>
	</div>
</div>


	

