<style>
#container { margin: 0px auto; width: 500px; height: 375px; border: 10px #333 solid; } #videoElement { width: 500px; height: 375px; background-color: #666; }
</style>


<!--<div ng-if="currentUser.userName === thisShow.host">-->


<!--
<div id="container">
    <video autoplay="true" controls="true" id="videoElement">
     
    </video>
</div>
<cavas id="c"></cavas>
<button id="grey">Toggle Greyness</button>
-->

<!--</div>-->

<div ng-if="currentUser.userName === thisShow.host">
<div class="row">
		<div class="col-md-12 text-center performerHeader">
			<h1>This is my show!</h1>
			<div>Ranked <a href="#">#8</a>               </div>
			<button ng-click="startTheShow()" class="btn btn-primary" style="margin-top: 10px">Start The Show!</button>
		</div>
	</div>
	<div class="row performerDetails">
<!--
		<div class="col-md-3 col-md-offset-3 text-left">
			{{min}}:{{sec}}
		</div>
-->
		<div class="col-md-3 col-md-offset-6 text-right">
			Laugh-O Meter: <a href="#">{{laughCounter}}</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 liveFeed">
            <div id='myPublisherDiv'></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 commentBox">
			<div ng-repeat="comment in showComments" class="positionCommentBox">
				<div>
					{{comment}}
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="margin-bottom: 100px">
		<div class="col-md-6 col-md-offset-3">
			<textarea class="actualCommentBox" type="text" rows="2" ng-model="yourComment.comment" placeholder="Let them know what you think">
			</textarea>
			<input type="submit" value="Submit now" class="btn btn-primary submitComment" ng-click="submitYourComment(yourComment.comment)">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 footer userPageFooter text-center">
			<span>StandUp is protected under Super Awesome Trademark Services</span>
		</div>
	</div>
</div>









<!--//-=-=-=-=-=-=-=-=- AUDIENCE VIEW -=-=-=-=-=-=-=-=-\\-->
<div ng-if="currentUser.userName !== thisShow.host">
	<div class="row">
		<div class="col-md-12 text-center performerHeader">
			<h1>{{thisShow.host}}</h1>
			<div>Ranked <a href="#">#8</a>               </div>
		</div>
	</div>
	<div class="row performerDetails">
<!--
		<div class="col-md-3 col-md-offset-3 text-left">
			{{min}}:{{sec}}
		</div>
-->
		<div class="col-md-3 col-md-offset-6 text-right">
			Laugh-O Meter: <a href="#">{{laughCounter}}</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 liveFeed">
            <div id='subscribersDiv' ng-show="viewShow"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 commentBox">
			<div ng-repeat="comment in showComments" class="positionCommentBox">
				<div>
					{{comment}}
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<textarea class="actualCommentBox" type="text" rows="2" ng-model="yourComment.comment" placeholder="Let them know what you think">
			</textarea>
			<input type="submit" value="Submit now" class="btn btn-primary submitComment" ng-click="submitYourComment(yourComment.comment)">
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 text-left laughButton">
			<button ng-click="laugh()" ng-class="{ 'laughed': currentlyLaughing }" class="btn laughButtonButton">Laugh</button>
			<!-- <button ng-click="isTooManyLaughs()" class="btn">Laugh</button> -->
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 footer userPageFooter text-center">
			<span>StandUp is protected by Mike Tyson's Tiger</span>
		</div>
	</div>
</div>


	

